<h2>About Question and Answer Message Board</h2>

<p> This is a question and answer message board where a user submits a question and other users can respond with answers.</p>
  <ul>
    <li>Questions have the content of the question itself, an author and additional notes.</li>
    <li>Answers should the content of the answer and the author.</li>
    <li>Users are able to click on a question, and be routed to another page containing additional information.</li>
    <li>Users can add and edit questions.</li>
    <li>Users can also add answers to a question. Answers will be added and viewed on the same page as the question they respond to.</li>
 </ul>
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
