<h1>Welcome to the Question and Answer Message Board</h1>

<div class="row">
  <div class="col-md-6">
    <a href="http://emberjs.com/" target="_blank"></a>
  </div>
  <div class="col-md-6">
    <a href="http://getbootstrap.com/" target="_blank"></a>
  </div>
</div>

{{#link-to 'about'}}About{{/link-to}}
